@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "tailwind-preset-mantine";
@import "./shadcn";

.monaco-editor,
.monaco-editor .overflow-guard {
  border-radius: var(--mantine-radius-sm);
}

/* This is to fix the suggest widget offset problem */
.monaco-editor .suggest-widget {
  width: 200px !important;
  left: 60px !important;
}
